.bin/
dist/
bench/mem.out
bench/results.txt
bench/profiles/*.out
*.h.bak
go.work.sum
coverage.out
e2e/*.so
bench/bench.test
bench/*.prof
bench.test

# spa example
examples/sahl/spa/ui/node_modules/
examples/sahl/spa/ui/.vite/
