.bin/
dist/
bench/mem.out
bench/results.txt
bench/profiles/*.out
*.h.bak
go.work.sum
coverage.out
e2e/*.so
bench/bench.test
bench/*.prof
bench.test

# spa example
examples/sahl/spa/ui/node_modules/
examples/sahl/spa/ui/.vite/

# spa example build outputs
examples/sahl/spa/libspa.so
examples/sahl/spa/libspa.h
examples/sahl/spa/libspa.linux-amd64.so
examples/sahl/spa/libspa.linux-arm64.so
cmd
